@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  color: inherit;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  font-family: "Inter" !important;
  font-style: normal;
  font-weight: 400 !important;
  margin: 0 auto;
}

.container {
  max-width: 736px;
  margin: 0 auto;
}

.header-bg {
  padding-top: 72px;
  background-color: #0d0d0d;
  width: 100%;
}
